.img {
    float: left;
    width:  150px;
    height: 273px;
    object-fit: cover;
    vertical-align: top;
    text-align: center;
}

.tableRacm{
    width:33%;
    vertical-align: top;
}

.detail{
    align-items: flex-end;
}

.baseTable{
    border: 0;
    width: 900px; 
    margin: 0 auto; 
    /* border-collapse: collapse;  */
}  